@charset "utf-8";
@import url("reset.import.css");

.icon{display: inline-block;
  zoom: 1;
  background-repeat: no-repeat;
  background-position: left top;
  vertical-align: middle;}
.icon-home{background-image: url(../images/icon-yun.png); width: 24px;height: 24px;}
.icon-car{background-image: url(../images/icon-set.png);width: 24px;height: 24px;}
.icon-travel{background-image: url(../images/icon-help.png);width: 24px;height: 24px;}
.icon-news{background-image: url(../images/icon-ts.png);width: 24px;height: 24px;}
.icon-about{background-image: url(../images/icon-jt.png);width: 24px;height: 24px;}



body{background:url(../images/c-bg.png) repeat left top;color:#525252;}
a{color:#3671BA;}
a:hover{text-decoration: none;color:#FE7C7C; }
.inner{zoom:1;}
.inner:after{display:block;clear: both;visibility: hidden;content: ".";font-size: 0;height: 0;}

.icon-logo{width: 41px;
  height: 40px;
  background-image: url(../images/logo.png);}


.header{background: url(../images/nav-left.png) no-repeat left center #000;}
.header .header-gd{background: url(../images/nav-right.png) no-repeat right center;}
.header .inner{width: 1200px;margin: 0 auto;}
.header .logo{display: block;float: left;color: #fff;font-size: 20px;padding: 20px 0;}
.header .logo .icon{margin-right: 15px;}
.header .nav{float: right;padding: 20px 0;}
.header .nav .nav-item{display: inline-block;font-size: 16px;color: #fff; padding: 8px 10px}
.header .nav .nav-item:hover{color: #fee84f;}


.footer{margin-top:30px;padding:25px 0 35px 0;text-align:center;color:#565656;background:url(../images/f-bottom.png) no-repeat bottom center #1c1208;}
.footer p{padding:5px 0;}
.footer a{padding:0 5px;color:#81817e;}
.footer a:hover{color: #3671BA;}
